<%- include('../partials/head') %>
 <div class="container-fluid">
     <div class="row mt-5">
         <div class="col-6">
             <form action="/discuss/searchResult" method="get">
                 <div class="d-flex justify-content-start">
                    <input type="text" class="form-control w-75" name="tags" placeholder="Nhập nội dung tìm kiếm">
                    <button type="submit" class="btn btn-outline-success"><i class="fas fa-search"></i></button>
                 </div>
             </form>
         </div>

         <div class="col-6">
              <a href="/discuss/ask" class="btn btn-primary float-end">+ Tạo chủ đề mới </a>
         </div>
     </div>

<div class="row mt-5 d-flex justify-content-center">
    <div class="col-lg-8 mt-3">
<% for(let ask of asks) {%>
        <div class="card mb-3 ">
            <div class="card-body">

                <div class="d-flex justify-content-between">
                    <h5 class="card-title"><%= ask.topic %></h5>
                    <div class="d-flex justify-content-around">
                    <a href="/discuss/review/<%= ask._id %>" class="position-relative"><i class="far fa-comment"></i></a>
                    <p> <%= ask.review.length %> </p>
                </div>
                </div>
                
                <p class="card-text"><%= ask.content %></p>
                <div class="d-flex justify-content-start">
                    <p class="card-text text-muted mb-2">Bởi : <%= ask.author.email %></p>
                    <img src="/uploads/<%= ask.author.userinformation ? ask.author.userinformation.image : 'user.png' %>" class="ms-2 rounded-circle" style="width:25px;height:25px" alt="">
                </div>
                <form action="/discuss" method="get">
                    <p class="card-text fw-bold mb-2">Tags <button style="background-color: white" class="border-0 text-primary fw-bold" name="tags" value="<%= ask.tags  %>"><%= ask.tags %></button></p>
                </form>
            </div>
        </div>
        <%} %>
    </div>
</div>

 </div>

 <%- include('../partials/footer') %> 
 </body>
 </html>